name: smokerlyzer_flutter
description: "A Flutter plugin for Bedfont Smokerlyzer CO breathalyzers. Wraps the official iOS and Android SDKs."
version: 0.1.0
homepage: https://github.com/jtperkins/smokerlyzer_flutter
repository: https://github.com/jtperkins/smokerlyzer_flutter
issue_tracker: https://github.com/jtperkins/smokerlyzer_flutter/issues

environment:
  sdk: ^3.8.1
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.wellcentiv.smokerlyzer_flutter
        pluginClass: SmokerlyzerFlutterPlugin
      ios:
        pluginClass: SmokerlyzerFlutterPlugin
